@model PedigreePortalen.UI.Models.MatingCalculatorViewModel.MatingCalculatorDetails
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}
<h2>Forventet kuld</h2>

<div>

    <dl class="row">
        <dt class="col-sm-2">
            Indavlsprocent
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InbreedingPercent)
        </dd>
        <dt class="col-sm-2">
            Parring lovlig
        </dt>
        <dd class="col-sm-10">
            @if (@Model.IsLegal == true)
            {
                <p>Ja</p>
            }
            else
            {
                <p>Nej</p>
            }

        </dd>
        <dt class="col-sm-2">
            Forventet antal hvalpe
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpectedChildren)
        </dd>
    </dl>

    <div class="container center container_calculated_diseases">
        <h4>Potentielle sygdomme</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Sygdom
                    </th>
                    <th>
                        Sandsyndlighed
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CalculatedDiseaseDetails)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Probabilaty)%
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
    <a asp-controller="MatingCalculator" asp-action="Create" asp-route-id="@UserManager.GetUserId(User)">Tilbage Parringskalkulatoren</a>
</div>
<br />
<br />


