@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PedigreePortalen.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="nav_img" src="~/Img/pplogo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid menu_text">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse order-md-0">
                    <ul class="navbar-nav flex-grow-1 mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@UserManager.GetUserId(User)">Min Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Kennel" asp-action="Index">Kennel</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Animal" asp-action="Search">Hunde</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MatingCalculator" asp-action="Create" asp-route-id="@UserManager.GetUserId(User)">Pairings Calculator </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse order-md-10 menu_text">
                <ul class="navbar-nav">
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/Img/search-icon.png"></a>
                    </li>*@
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
    </header>

    @*<div class="container-fluid">*@
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    @*</div>*@

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h2 class="shop_text">Some Stuff here </h2>
                    <p></p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h2 class="shop_text"> Some Stuff here</h2>
                    <p></p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h2 class="shop_text">Some stuff here too</h2>
                    <p></p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <h2 class="shop_text">Følg os på Facebook</h2>
                    <a href="#"><img src="~/Img/fb-icon.png"></a>
                </div>
            </div>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>